<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YueSheng</title>
    <style>
        .not-found, .ico, .not-found, .ico i{
            height: 100%;
            text-align: center;
            font-size: 60px;
        }
    </style>
</head>
<body>
    <div class="not-found">
        <div class="ico">
            <i class="layui-icon layui-icon-face-surprised"></i>
            404 NOT FOUND
        </div>
    </div>
</body>
</html>