<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #box-container{
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        #box-container .btn-gruops{
            width: 400px;
            margin: 30px auto;
        }
    </style>
</head>
<body>
    <div id="box-container">
        <div class="btn-gruops">
            <button type="button" class="layui-btn layui-btn-sm" id="btn-add">  <i class="layui-icon layui-icon-add-1"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" id="btn-delete">  <i class="layui-icon layui-icon-delete"></i> 删除</button>
            <button type="button" class="layui-btn layui-btn-sm" id="btn-edit">  <i class="layui-icon layui-icon-edit"></i> 修改</button>
            <button type="button" class="layui-btn layui-btn-sm" id="btn-edit">  <i class="layui-icon layui-icon-edit"></i> 修改</button>
        </div>
    </div>
</body>
</html>